{% extends 'layout_index.html' %}

{% block content %}

  <center><h3> Welcome to ALMA at Leiden Project</h3></center>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="Activities-tab" data-toggle="tab" href="#Activities" role="tab" aria-controls="Activities" aria-selected="true">Activity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="Moreinfo-tab" data-toggle="tab" href="#Moreinfo" role="tab" aria-controls="Moreinfo" aria-selected="false">More info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/account">Account</a>
    </li>
  </ul>
  <!-- content in tabs -->
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="Activities" role="tabpanel" aria-labelledby="Activities-tab">
      <p></p>

      <div class="card mx-auto" style="width: 17rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/leidentour.jpg') }}" alt="Leiden Tour">
        <div class="card-body">
          <h5 class="card-title">Walking Tour</h5>
          <p class="card-text">Start your Leiden astronomy walking tour!</p>
          <a href="/tour-info" class="btn btn-primary">GO</a>
        </div>
      </div>

      <p></p>

      {# <div class="card mx-auto" style="width: 17rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/antenna.jpg') }}" alt="ALMA antenna">
        <div class="card-body">
          <h5 class="card-title">Collect Antenna</h5>
          <p class="card-text">Collect your antennas by inputing their codes.</p>
          <a href="/antenna" class="btn btn-primary">GO</a>
          <a href="/antenna-more" class="btn btn-secondary">More info</a>
        </div>
      </div> #}
      
    </div>

    <div class="tab-pane fade" id="Moreinfo" role="tabpanel" aria-labelledby="Moreinfo-tab">
    <div class="container content">
    <h4>About this project</h4>
    <p><a href="https://www.almaobservatory.org/en/home/">ALMA</a> , the Atacama Large Millimeter and submillimeter Array, is a radio telescope located in the Atacama Desert of northern Chile. It consists of 66 antennas but use the <a href="https://en.wikipedia.org/wiki/Astronomical_interferometer">interferometry</a> technology to combine their output to one image. ALMA helps us to reveal the secrets of the universe history, to discover our cosmic origin. </p>
    <p>While the working tour, you will be introduced to some details of ALMA, the basic concepts of the Interferometry technique. It also contains some astronomy trivia, astronomy fun facts.</p>
    <p>The largest extent of the ALMA array is comparable to the size of Leiden. The map below shows the 44 antennas' locations if they are located in the Leiden city.</p>
    <iframe src="https://www.google.com/maps/d/embed?mid=1HVrJib4TFER3fcx4hiWZ11gtq4OTdL4R&ehbc=2E312F" width="100%" height="400"></iframe>
    </div>
    </div>

    <div class="tab-pane fade" id="Account" role="tabpanel" aria-labelledby="Account-tab">
    
    </div>
  </div>

  {# <div class="card mx-auto" style="width: 17rem;" >
    <img class="card-img-top" src="{{ url_for('static', filename='images/antenna.jpeg') }}" alt="ALMA antenna">
    <div class="card-body">
      <h5 class="card-title">Collect Antenna</h5>
      <p class="card-text">Collect your antennas by inputing their codes.</p>
      <a href="/antenna" class="btn btn-primary">GO</a> <a href="/all_antenna" class="btn btn-secondary">All Antennas</a>
    </div>
  </div> #}
{% endblock %}