{% extends "layout.html" %}

{% block content %}

    <p><h4>Welcome to this walking tour.</h4></p>
    <p>For the next two hours, you are no longer in Leiden, but instead in the desert in Chile. Here, you will find the Atacama Large Millimetera and submillimeter Array, or ALMA - a series of radio dishes used for astronomy research. The ALMA played a crucial role in creating the first ever image of a black hole. Follow the story of Robin, a young scientist who visits the ALMA for his research, and discovers something entirely other than he expected...</p>
    <a href="/tour-start" class="btn btn-success">Next page</a>
{% endblock content %}