{% extends "layout.html" %}

{% block content %}

    <p><h4>Practical information:</h4></p>
    For the tour, you will visit 15 locations in the inner city of Leiden, corresponding to 15 of the radio telescopes at ALMA. You are asked to confirm your presence at each location by answering a question about the surroundings. Next, another part of the story will be revealed and you will need to answer a question about astronomy. Afterwards, we will provide the correct answer, some useful information and the route to the next location.</p>
    <img src="{{ url_for('static', filename='images/tour-info.png') }}" class="img-fluid" alt="Tour infomation"><p></p>

    <p>You will need approximately two hours to complete the tour, but feel free to take a break halfway: thanks to the login function, your progress will be saved. Although the tour was decided with walking in mind, you can also cycle the route.</p>
    <p>Click below to start!</p>
    <a href="/tour/full/1_Oude_Sterrenwacht" class="btn btn-success">Start your tour</a>
    <p></p>
    <p>For those who would like to take a shorter tour, there are other choices!</p>
    <a href="#/tour/full/1_Oude_Sterrenwacht" class="btn btn-secondary">the shorter tours</a>
{% endblock content %}