{% extends "layout.html" %}
{% block content %}

  <h3>15. Koepoortsbrug</h3>

  {% if checkin_status %}
    <p><i> {{post_check}} </i></p>
    <p>Their short walk feels much longer in the thin desert air. They are panting by the time they reach the next telescope. An unexpected guest is waiting for them over there.</p>
    <p>&lsquo;What's that?&rsquo; Robin points at the ground. A rodent-like creature was chewing on a cable.</p>
    <p>&lsquo;I don't... wait, is that the main electricity cable?&rsquo;</p>
    <p>&lsquo;What?&rsquo;</p>
    <p>She points her light at the rodent, but it immediately stops chewing and flees off into the night.</p>
    <p>&lsquo;Hardly any animals live here in the desert,&rsquo; Erica says. &lsquo;How that... creature came here, I have no clue. But at least we know why everything shut down. We'll have to fix that cable, then.&rsquo;</p>
    <p>&lsquo;What about that animal?&rsquo;</p>
    <p>&lsquo;I think a viscacha. I heard about them from a friend, a biologist, I have in Chile. They live in the Atacama Desert, but they rarely come up here.&rsquo;</p>
    <p>&lsquo;Any idea why he was here now?&rsquo;</p>
    <p>&lsquo;I'm an astronomer, not a biologist,&rsquo; she laughs. &lsquo;Let's hope he doesn't come back any time soon. But for your project, it doesn&rsquo;t matter. This is telescope number fifteen. Once you've turned this one on, you've finally collected enough data for your image of a galaxy.&rsquo;</p>

    {%if picture_usable %}
      <p><font color="blue"><b>Question: </b></font>{{astro_question}}</p>
      <p><font color="green"><b>Answer: </b></font>{{astro_answer}}</p>
      <p><b>Explanation: </b>(to be determined)</p>
      <a href="/tour/full/14_Kamerlingh_Onnes_Gebouw" class="btn btn-secondary">Last checkpoint</a>
      <p></p>
      <div class="card mx-auto" style="width: 17rem;">
        <img class="card-img-top" src="{{ url_for('static', filename = path) }}" alt="Oberved image">
        <div class="card-body">
          {# <h5 class="card-title">Oberved image </h5> #}
          <p class="card-text"><b>The final image  observed with all 15 antennas！</b></p>
        </div>
      </div>

    {% else %}
      <form action="{{this_page}}" method="POST">
      <p><font color="blue"><b>Question: </b>{{astro_question}}<p>
        <div class="form-group">
          <label for="{{astro_question}}"></label>
          <select class="form-control" name="{{astro_question}}">
            {% for astro_option in astro_options %}
            <option value = "{{astro_option}}" >{{astro_option}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    {% endif %}

  {% else %}
    <form action="{{this_page}}" method="POST">
      <div class="form-group">
        <label for="{{checkin_question}}"><b>Check: </b>{{checkin_question}}</label>
        <select class="form-control" name="{{checkin_question}}">
          {% for checkin_option in checkin_options %}
          <option value = "{{checkin_option}}" >{{checkin_option}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Check in!</button>
    </form>
  {% endif %}

{% endblock content %}
