{% extends "layout.html" %}
{% block content %}

  <h3>7. Museum de Lakenhal</h3>

  {% if checkin_status %}
    <p><i> {{post_check}} </i></p>
    <p>Jeremy Richardson arrives in his car. He is old and scruffy, carrying a large book underneath his arms.</p>
    <img src="{{ url_for('static', filename='images/drawing/7_Museum_de_Lakenhal.png') }}" class="img-fluid" alt="The alma antennas in leien"><p></p>

    <p>&lsquo;What&rsquo;s this?&rsquo; He looks at Robin. &lsquo;Ah, you must be that student they were all talking about, with his new discovery and all. Picked a bad time to come visit, I must say. What are you doing out here, actually?&rsquo;</p>
    <p>&lsquo;Fixing the antennae,&rsquo; Erica chimed in, &lsquo;and then&nbsp;taking measurements.&rsquo;</p>
    <p>&lsquo;Ah, of course! Making the most of your time here, yes.&rsquo;</p>
    <p>Erica shows the image. &lsquo;These are the first results. Do you know what they could be?&rsquo;</p>
    <p>&lsquo;Well, it&rsquo;s still very blurry, but maybe&hellip;&rsquo; He flips through his book. &lsquo;Maybe it&rsquo;s a red giant?&rsquo;</p>

    {%if picture_usable %}
      <p><font color="blue"><b>Question: </b></font>{{astro_question}}</p>
      <p><font color="green"><b>Answer: </b></font>{{astro_answer}}</p>
      <p><b>Explanation: </b> In 5 billion years, our sun is expected to expand massively, with a diameter 200 times its current size! This is so large it may even swallow up the Earth whole. Good thing we aren't around to experience that&hellip;</p>
      <p><b>Fun fact: </b>If we can compress the Sun into a ball with a radius of 3km, the Sun will become a black hole!</p>
      <p>The next location is the Leidse Schouwburg (Oude Vest 43)</p>
      <a href="/tour/full/8_Leidse_schouwburg" class="btn btn-success">Next checkpoint</a>  <a href="/tour/full/6_Molen_de_Valk" class="btn btn-secondary">Last checkpoint</a>
      <p></p>
      <div class="card mx-auto" style="width: 17rem;">
        <img class="card-img-top" src="{{ url_for('static', filename = path) }}" alt="Oberved image">
        <div class="card-body">
          {# <h5 class="card-title">Oberved image </h5> #}
          <p class="card-text"><b>The oberved image with available antennas for now.</b> Activate more antennas to get more clear image.</p>
        </div>
      </div>

    {% else %}
      <form action="{{this_page}}" method="POST">
      <p><font color="blue"><b>Puzzle: </b>{{astro_question}}<p>
        <div class="form-group">
          <label for="{{astro_question}}"></label>
          <select class="form-control" name="{{astro_question}}">
            {% for astro_option in astro_options %}
            <option value = "{{astro_option}}" >{{astro_option}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    {% endif %}

  {% else %}
  <iframe src="https://www.komoot.com/tour/607158328/embed?share_token=a2sj2o1m0RuIq8HVk5Pbmvs91Vrc942MwKF3quprk7KQWWrKo7" width="100%" height="580" frameborder="0" scrolling="no"></iframe> 
    <form action="{{this_page}}" method="POST">
      <div class="form-group">
        <label for="{{checkin_question}}"><b>Check: </b>{{checkin_question}}</label>
        <select class="form-control" name="{{checkin_question}}">
          {% for checkin_option in checkin_options %}
          <option value = "{{checkin_option}}" >{{checkin_option}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Check in!</button>
    </form>
  {% endif %}

{% endblock content %}
