{% extends "layout.html" %}
{% block content %}
  <p>You have been in the Old Obervatory. Find the antenna and enter the four digits printed on the antenna's nameplate below.</p>
  {# <p>{{checkin_status}}</p> #}
  {% if checkin_status %}
  <div class="card mx-auto" style="width: 17rem;">
    <img class="card-img-top" src="{{ url_for('static', filename = path) }}" alt="Oberved image">
    <div class="card-body">
      {# <h5 class="card-title">Oberved image </h5> #}
      <p class="card-text"><b>The Oberved image use available antennas for now.</b>Activate more antennas to get more clear image.</p>
    </div>
  </div>
  <a href="{{next_page}}" class="btn btn-success">Next checkpoint</a>
  {% else %}
  <form action="/tour-full/start" method="POST">

    <div class="form-group ">
      <label for="code">Code</label>
      <input class="form-control form-control-lg" id="code" name="code" placeholder="Enter code here">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
  {% endif %}
{% endblock content %}
