<link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">

<footer class="footer">
  <div class="container">
    <a class="cursor-onhover" href="https://leiden2022.nl">
      <img id="leiden2022" src="{{ url_for('static', filename='images/leiden2022.png') }}">
    </a>
      {# <span class="text-muted">Supported by</span> #}
      <a class="cursor-onhover" href="https://www.universiteitleiden.nl">
        <img id="leidenuniv" src="{{ url_for('static', filename='images/leidenuniv.png') }}" target="_blank">
      </a>
  </div>
</footer>
